@import url(https://fonts.googleapis.com/css?family=Karla);

form{
  border: 2px solid white;
  border-radius: 7px;
  padding: 10px 30px 20px 30px;
  display: flex;
  flex-flow: column;
  background-color: white;
  max-width: 65%;
}

body{
  background: hsl(148, 38%, 91%);
  accent-color: hsl(169, 82%, 27%);
  font-family: "Karla", sans-serif;
  font-size: 16px;
  color: hsl(187, 24%, 22%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
}

.errorMessage{
  color: hsl(0, 66%, 54%);
}

.inputError{
  border: 2px solid hsl(0, 66%, 54%);
  border-radius: 7px;
  background-color: #FFFFFF;
  height: 30px;
}

.input{
  border: 1px solid hsl(186, 15%, 59%);
  border-radius: 7px;
  background-color: #FFFFFF;
  height: 30px;
}

#message{
  height:90px;
}

.input:hover{
  border-color: hsl(169, 82%, 27%);
}

.newInput{
  border: 1px solid hsl(169, 82%, 27%);
  border-radius: 7px;
  background-color: hsl(148, 38%, 91%);
  height: 30px;
}

#asterix{
  color: hsl(169, 82%, 27%);
}

.submit{
  padding-left: 30px;
  padding-right: 30px;
  height: 40px;
  width: 100%;
  color: white;
  border: 0px;
  border-radius: 7px;
  background-color: hsl(169, 82%, 27%);
}

.submit:hover{
  background-color:#003D30;
}

.flexBox{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flex1{
  display: flex;
  flex-flow: column wrap;
  flex: 50%;
}

.flex2{
  display: flex;
  flex-flow: column wrap;
  flex: 50%;
}

@media (max-width: 644px){
  .flex1, .flex2{
    flex: 100%;
  }body{
    padding-top: 10px;
  }form{
    padding: 0px 30px 15px 30px;
    max-width: 80%;
  }
}

#popup{
  visibility: hidden;
  display: flex;
  flex-direction: column;
  background-color: #002D29;
  color: white;
  padding: 20px 20px 20px 20px;
  position: fixed;
  top: 10px;
  min-width: 30%;
  max-width: 60%;
  border-radius: 7px;
}

#popup.show{
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein{
  from {top: 0; opacity: 0;}
  to {top: 10px; opacity: 1;}
}

@keyframes fadein{
  from {top: 0; opacity: 0;}
  to {top: 10px; opacity: 1}
}

@-webkit-keyframes fadeout{
  from {top: 10px; opacity: 1}
  to {top: 0; opacity: 0}
}

@keyframes fadeout{
  from {top: 10px; opacity: 1}
  to {top: 0; opacity: 0}
}

h1{
  color: #002D29;
}